<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <ul class="relative">
        <li class="group relative">
            <a class="text-[14px] font-bold flex items-center group-hover:text-blue cursor-pointer">
                <img class="h-3 mr-1 block group-hover:hidden" src="assets/img/menu-icon-xl.png" alt="menu">
                <img class="h-3 mr-1 hidden group-hover:block" src="assets/img/menu-icon-xl-blue.png" alt="menu">
                Todas as Categorias
            </a>

            <ul class="absolute left-0 bg-white shadow-md w-60 hidden group-hover:block z-12 pt-4">

                <li class="relative group/sub">
                    <a class="block px-4 py-2 text-sm group-hover/sub:text-blue">Departamento</a>

                    <div class="absolute h-90 w-280 left-full top-0 bg-white z-11">
                        <div class="hidden group-hover/sub:flex">
                            <ul class="w-50 border-l-1 border-gray-200 pl-10">
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                            </ul>

                            <ul class="w-50 pl-10">
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                            </ul>

                            <ul class="w-50 pl-10">
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                            </ul>
                        </div>
                        <div class="flex absolute w-[236px] h-[298px] top-5 right-5">
                            <img src="../assets/img/menu-banner.png" alt="banner-menu">
                            <h5 class="absolute text-white text-[24px] font-[700] top-11 left-7 w-30 text-sm/7">Confira os Produtos Que acabaram De chegar</h5>
                            <button class="border-1 h-8 rounded-lg absolute text-white text-[12px] font-[700] bottom-14 left-7 w-30 text-sm/7">VER TODOS</button>
                        </div>
                    </div>
                </li>

                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Departamento</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Departamento</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Departamento</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Departamento</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Departamento</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Departamento</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Departamento</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Departamento</a></li>
                <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Departamento</a></li>
            </ul>
        </li>
    </ul>
</body>

</html>